.titleHighlightEvents {
  margin-top: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color2);
  text-transform: uppercase;
  color: var(--color1);
  font-size: 20px;
}
.galleryContainer {
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
}
.pastEvents{
  opacity: 0.5;
}
@media (min-width: 750px){
  .galleryContainer {
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-start;
    padding: 10px;
    gap: 20px;
    width: 90%;
  }
}
