.searchBarContainer {
  display: flex;
  margin: 20px 8px 0;
  gap: 5px;
}
.searchInput {
  border: solid 1px var(--color1);
  width: 20rem;
  height: 35px;
  border-radius: 20px;
}
#selectInput {
  padding: 5px;
}

@media (min-width: 768px) {
  .searchBarContainer {
    justify-content: center;
  }
}
