.patherContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 170px);
  list-style: none;
  gap: 10px 270px;

  justify-items: center;
  justify-content: center;
}
.eventCardContainer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0px;

  /* border-top: 1px solid black; */
}
.imgCardEvent {
  width: 300px;
  height: 200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.bottomEventCard {
  display: flex;
  flex-direction: row;

  gap: 30px;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 300px;
  padding: 15px 0;
}
.dateContainer {
  margin-left: 20px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
}
.infoContainer button {
  background-color: #f5474b;
  border-radius: 10px;
  width: 80px;
  color: whitesmoke;
  font-weight: bold;
}
.titleEvent {
  font-weight: bold;
}
/* @media (min-width: 750px) {
  .form {
    padding: 70px 229px;
  }
} */
