.eventCardContainer {
  border: 1px solid var(--color2);
  border-radius: 10px;
  width: 350px;
  margin-top: 20px;
  height: 400px;
}
.imgContainer {
  height: 300px; 
}
.imgCardEvent {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; 
}
.bottomEventCard {
  display: flex;
  padding: 15px;
  gap: 20px;
}
.dateContainer {
  align-self: center;
}
.infoContainer {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.titleEvent {
  font-weight: bold;
}
.locationEvent{
  color: var(--color2);
}
.infoContainer button {
  background-color: var(--color1);
  border-radius: 2em;
  padding: 3px;
  width: 90px;
  color: white;
}
@media (min-width: 750px) {
  .eventCardContainer {
    width: 250px;
    height: 250px;
  }
  .imgContainer {
    height: 150px; 
  }
  .bottomEventCard {
    padding: 10px;
    gap: 7px;
  }
  .dateContainer {
    width: 70px;
  }
  /* .form {
    padding: 70px 229px;
  } */
}
