.footer {
  font-family: var(--font1);
  display: flex;
  background-color: var(--color1);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.events {
  padding: 10px 10px 10px 20px;
  display: flex;
  gap: 20px;
}

.footer a {
  color: white;
}

.social {
  display: flex;
  gap: 20px;
}

.footer_left {
  font-size: 30px;
}
.footer_left h1 {
  font-size: 40px;
}
