.galleryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 190px);
    list-style: none;
    gap: 55px 270px;
    justify-items: center;
    justify-content: center;
    margin: 115px 0;
  }