.galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 190px);
  list-style: none;
  gap: 55px 270px;
  justify-items: center;
  justify-content: center;
  margin: 20px 0;
}
.titlePastEvents {
  margin-top: 100px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--color1);
}
* {
  font-family: var(--font1);
}

.eventCardContainer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.imgContainer {
  width: 100%;
  height: 200px;
}
.imgCardEvent {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  filter: grayscale(100%);
}

.bottomEventCard {
  display: flex;
  flex-direction: row;
  height: 115px;
  gap: 30px;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 300px;
  padding: 10px 0;
}
.dateContainer {
  margin-left: 20px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
}
.infoContainer button {
  background-color: #f5474b;
  border-radius: 10px;
  width: 80px;
  color: whitesmoke;
  font-weight: bold;
}
.titleEvent {
  font-weight: bold;
  font-family: var(--font1);
}
