.container {
  position: relative;
  width: 100vw;
  height: 75vh;
}
.sliderText {
  position: absolute;
  bottom: 30px;
  left: 70px;
  font-size: 30px;
  text-align: center;
  color: white;
  width: 65%;
}
.imgSlider {
  width: 100%;
  height: 570px !important;
  object-fit: cover;
}
.sliderIcon{
  position: absolute;
  bottom: 50px;
  color: white;
  font-size: 25px;
  background-color: rgba(212, 212, 212, 0.3);
  padding: 5px ;
  border-radius: 5em;
}
#less {
  left: 30px;
}
#greater {
  right: 30px;
}

@media (min-width: 768px) {
  .container {
    width: 98.72vw;
  }
  .imgSlider {
    height: 420px !important;
  }
  .sliderText {
    width: 80%;
    left: 140px;
    font-size: 35px; 
  }
  .sliderIcon{
    bottom: 170px;
    font-size: 25px;
  }
}
